{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{{ render(controller('App\\Controller\\Page\\Embedded\\NavbarController::get')) }}

    <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
        <br><br><br>
        <div class="global-container">
            <div class="col-md-6 center-block justify-content-center">
            <div class="card login-form">
                <div class="card-body">
                    <h3 class="card-title text-center">Log in</h3>
                    <div class="card-text">
                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('admin_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                        <br>
                        <!--
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                        <form>

                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control form-control-sm"
                                   autocomplete="email" required autofocus>
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword"
                                   class="form-control form-control-sm" autocomplete="current-password" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            <br>
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
</form>
{% endblock %}
