{% extends 'base.html.twig' %}

{% block body %}
{{ render(controller('App\\Controller\\Page\\Embedded\\NavbarController::get')) }}

<section class="s-article">
    {% if article.getMainImage %}
        <img class="article_main_image" src="{{ article.getMainImage.getPath }}" alt="{{ article.getTitle }}">
    {% else %}
        <img class="article_main_image" src="{{ asset('img/dummy_article_1920.png') }}" alt="{{ article.getTitle }}">
    {% endif %}

    <h1 class="article_title">{{ article.getTitle }}</h1>

    <div class="default-indent"></div>
    <div class="article_text">
        <div class="container">
            {{ article.getText|raw }}
        </div>
        <div class="default-indent"></div>
    </div>
</section>
{% endblock %}
