{% extends 'base.html.twig' %}

{% block chart %}
  {% include 'scripts/chart.js.html.twig' %}
{% endblock %}

{% block body %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  {{ render(controller('App\\Controller\\Page\\Embedded\\NavbarController::get')) }}
  <section class="s-about">
    <div class="container">
      <div class="row mx-auto text-center">
        <div class="col-md-12 col-sm-12">
          <div class="about_info">
            <div class="avatar_wrap">
              <img class="about_avatar" src="{{ asset('img/dummy2.png') }}" alt="avatar">
            </div>
            <h2 class="about_name">{{ user.getNickname }}</h2>
            <p class="about_title">{{ user.getJobTitle }}</p>
            <p class="about_description">{{ user.getAboutText }}</p>
          </div>
        </div>
        <div class="col-md-6 d-block col-sm-12">
          <div class="about_tags">
            <h3 class="about_tags_title">Темы статей</h3>

            <div class="about_tags_chart">
              <canvas id="tagChart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-block col-sm-12">
          <div class="about_skills">
            <h3 class="about_skills_title">Основные навыки</h3>
            <ul class="about_skills_list">
              {% for skill in user.getUserSkills %}
                <li>{{ skill.getTitle }}</li>
              {% endfor %}
            </ul>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section class="s-posts profile-page">
    <div class="default-indent"></div>
    <div class="container">
      <div class="row">
        <h2 class="posts_title">Список статей</h2>
        <div class="default-indent"></div>
        {% for article in user.getArticles %}
            {% set showPostAuthor = false %}
            {% include 'inner/post.html.twig' %}
        {% endfor %}
      </div>
    </div>
  </section>

<script>
  // Функция для выполнения запроса к API
  function getData(userId) {
   var headers = new Headers();
      headers.append('Accept', 'application/json');
      fetch(`{{ host }}/api/user/tags/${userId}`, {
          headers: headers
      })
      .then(response => response.json())
      .then(data => {
          // Обработка полученных данных
          var chartData = {
              labels: [],
              datasets: [{
                  data: [],
                  backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56']
              }]
          };

          data.data.forEach(item => {
              chartData.labels.push(item.title);
              chartData.datasets[0].data.push(item.quantity);
          });

          // Настройка параметров графика
          var chartOptions = {
              responsive: true,
              maintainAspectRatio: false
          };

          // Получение контекста canvas
          var ctx = document.getElementById('tagChart').getContext('2d');

          // Создание doughnut chart
          var tagChart = new Chart(ctx, {
              type: 'doughnut',
              data: chartData,
              options: chartOptions
          });
      })
      .catch(error => {
          console.error('Ошибка получения данных:', error);
      });
  }

  // Вызов функции для получения данных и создания графика
  getData({{ user.getId }});
</script>
{% endblock %}

