{% extends 'base.html.twig' %}

{% block body %}
{{ render(controller('App\\Controller\\Page\\Embedded\\NavbarController::get')) }}

<section class="s-posts">
    <h2 class="posts_title">{{ tag_title }}</h2>
    <div class="default-indent"></div>
    <div class="default-indent"></div>
    <div class="container">
        <div class="row">
            {% for article in articles %}
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="post_item">
                        <a href="{{ path('article_read', {slug: article.getSlug}) }}">
                            <div class="post_wrapper">
                                {% if article.getMainImage %}
                                    <img src="{{ article.getMainImage.getPath }}" alt="{{ article.getTitle }}">
                                {% else %}
                                    <img src="{{ asset('img/dummy_article.png') }}" alt="{{ article.getTitle }}">
                                {% endif %}
                                <p class="post_tag">
                                    {% for tag in article.getTags %}
                                        <a href="{{ path('tag_index', {tagLink: tag.getLink}) }}">
                                            {{ tag.getTitle }}
                                        </a>
                                    {% endfor %}
                                </p>

                                <h2 class="post_title">
                                    <a href="{{ path('article_read', {slug: article.getSlug}) }}">
                                        {{ article.getTitle }}
                                    </a>
                                </h2>
                                <p class="post_description">
                                    {{ article.getTextShort }}
                                </p>
                                <p class="post_detail">
                                    <time class="post_time">
                                        路{{ article.getCreatedAt|date('H:i d M. Y')}}
                                    </time>
                                    <span class="post_read_time"> 路 {{ article.getMinRead}} min read</span>
                                    <span class="post_comments"> 路 2 comments</span>
                                    <span class="post_author">
                                    路 <a href="{{ path('user_view', {nickname: article.getUser.getNickname}) }}">
                                        {{ article.getUser.getNickname }}
                                    </a>
                                </span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</section>
{% endblock %}
